.footer {
    margin-top: 200px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-logo {
    margin-right: 200px;
    font-weight: 700;
    font-size: 30px;
}

.footer-logo img {
    margin-top: 26px;
    margin-right: 13px;
}

.footer-nav {
    font-size: 17px;
    line-height: 27px;
}

.footer-nav p:not(:first-child) {
    margin-top: 10px;
}

.footer-nav a:hover {
    transition: .2s;
    color: #118DA8;
}

.footer-icons a {
    margin-right: 18px;
}